[credential]
	helper = libsecret
	store = pass

[user]
    name = Brian Merchant
	email = bzm3r@proton.me

[commit]
    gpgsign = true
[core]
	editor = hx
[credential "https://github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
