* {
    font-size: 20px;
    font-family: Inconsolata Nerd Font Mono;
}

window#waybar {
    background: #000000;
    color: #ffffff;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
    color: #1a1a1a;
}

#custom-right-arrow-light,
#custom-left-arrow-light {
    color: #1a1a1a;
    background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#disk,
#battery,
#network,
#tray {
    background: #1a1a1a;
}

#workspaces button {
    padding: 0 2px;
    color: #ffffff;
}

#workspaces button.focused {
    color: #0095ff;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button:hover {
    background: #1a1a1a;
    border: #ff7b00;
    padding: 0 3px;
}

#pulseaudio {
    color: #0095ff;
}

#memory {
    color: #00ffea;
}

#cpu {
    color: #ff39e1;
}

#disk {
    color: #ff8000;
}

#battery {
    color: #ddff00;
}

#network {
    color: rgb(22, 236, 115);
}

#clock,
#pulseaudio,
#memory,
#cpu,
#disk,
#battery,
#network {
    padding: 0 10px;
}