[user]
    name = Brian Merchant
	email = bzm3r@proton.me
	signingkey = /home/bzm3r/.ssh/id_ed25519.pub

[core]
	editor = hx
	excludesFile = ~bzm3r/.gitignore
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = /run/current-system/sw/bin/git-credential-libsecret
[credential "https://github.com"]
	helper =
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/run/current-system/sw/bin/gh auth git-credential
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
